#blog {
  padding-top: 100px;
  .container {
    max-width: 700px;
  }
  .post_list {
    .post_item {
      display: flex;
      margin-bottom: 100px;
      align-items: center;
      .post_image {
        height: 125px;
        min-width: 125px;
        background-color: #eeeeee;
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
        @include theme-shadow;
        border-radius: 50%;
        margin-right: 25px;
      }
      .post_desc {
        flex-grow: 1;
        h2 {
          font-size: 25px;
          margin: 0 !important;
          text-shadow: 2px 2px 3px rgba(0, 0, 0, 0.15);
          color: $dark_base_color;
        }
        .time_stamp {
          margin: 0 0 15px !important;
          font-size: 14px;
          color: var(--textNormal);
        }
        > p {
          color: var(--textTitle);
        }
      }
      &:nth-child(even) {
        flex-direction: row-reverse;
        .post_image {
          margin-right: 0;
          margin-left: 25px;
        }
      }
    }
  }
}
