#navbar {
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  z-index: 999;
  background: rgba(#f6f6f6, 0.75);
  .dark & {
    background: rgba($black_bg, 0.85);
  }

  .navbar {
    margin: 0;
    color: $dark_base_color;
    list-style: none;
    display: flex;
    justify-content: flex-end;
    padding: 0 50px;
    align-items: center;
    li {
      padding: 15px;
      a {
        text-transform: uppercase;
        transition: all 0.25s;
        &:hover {
          letter-spacing: 5px;
        }
      }
      &.logo {
        position: relative;
        width: 250px;
        height: 100px;
        overflow: hidden;
        margin-right: auto;
        @include respondToBelow(sm) {
          height: 75px;
        }
        a {
          height: 100%;
          width: 100%;
          left: 0;
          top: 0;
          position: absolute;
          display: flex;
          align-items: center;
          justify-content: center;
          transition: all 0.25s;
          img {
            height: 100%;
          }
          & + a {
            top: 100%;
            img {
              height: 60%;
            }
          }
        }
        &:hover {
          a {
            transform: translateY(-100%);
          }
        }
      }
    }
  }
  @include respondToBelow(sm) {
    top: auto;
    bottom: 0;
    right: 25%;
    .navbar {
      padding: 0 15px;
      li {
        padding: 0;
        line-height: 50px;
        height: 50px;
        text-align: center;
        flex: 1 0 0;
      }
      .logo {
        position: fixed !important;
        left: 0;
        right: 0;
        top: 0;
        width: 100% !important;
        background: rgba(#f6f6f6, 0.75);
        .dark & {
          background: rgba($black_bg, 0.85);
        }
        img {
          width: auto;
          height: 30px !important;
        }
      }
    }
  }
}
