#navbar {
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  z-index: 999;
  .navbar {
    margin: 0;
    color: $dark_base_color;
    list-style: none;
    display: flex;
    justify-content: flex-end;
    padding: 0 50px;
    align-items: center;
    li {
      padding: 15px;
      a {
        text-transform: uppercase;
        transition: all 0.25s;
        &:hover {
          letter-spacing: 5px;
        }
      }
      &.logo {
        position: relative;
        width: 250px;
        height: 100px;
        overflow: hidden;
        margin-right: auto;
        a {
          height: 100%;
          width: 100%;
          left: 0;
          top: 0;
          position: absolute;
          display: flex;
          align-items: center;
          justify-content: center;
          transition: all 0.25s;
          img {
            height: 100%;
          }
          & + a {
            top: 100%;
            img {
              height: 60%;
            }
          }
        }
        &:hover {
          a {
            transform: translateY(-100%);
          }
        }
      }
    }
  }
}
